* {
    margin: 0;
    padding: 0;
}

/* utilites */

.text-primary {
    color: #E55473;

}

.btn-primary {
    color: #fff;
    font-family: Lato;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    margin-top: 10px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}

/* header section */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 140px 0px 140px;
    background: rgba(229, 84, 115, 0.10);

}

.banner-content {
    width: 500px;
}

.banner-title {
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 800;
}

.banner-pic {
    width: 500px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



/* featured section */


.features-flower {
    text-align: center;
}

.featured-head {
    max-width: 600px;
    margin: 0 auto;
}

.feature-title {
    margin-top: 100px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}

.featured-head p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.flowers-in-featured-store {
    display: flex;
    padding: 0 100px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.flowers-in-featured-store img {
    width: 200px;
}

.pink-flower,
.red-flower,
.yellow-flower {
    text-align: center;
    margin: 10px;
}

.flowers-in-featured-store p {
    margin-top: 30px;
}

.flowers-in-featured-store a {
    color: #272727;
    font-size: 20px;
}

.inner-div-of-pink {
    padding: 65px 60px 0 60px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.inner-div-of-red {
    padding: 65px 50px 76px 60px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.inner-div-of-yellow {
    padding: 41px 60px 0px 60px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}


/* service that we provide */


.providing-services{
    margin-top: 120px;
}
.service-container{
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 40px 30px;
    margin: 0 165px;
}

.individual-services img{
    margin-bottom: 20px;
}


/* sale section*/

.sale-section {
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
}

.sale-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sale-content {
    max-width: 500px;
    text-align: center;
}

.sale-title,
.insta-title,
.deal-title, .footer-title, .review-heading{
    color: #272727;
    font-family: Lato;
    font-size: 36px;
    font-weight: 800;
}

.sale-description,
.insta-description,
.deal-description, .footer-description, .copyright, .service-title {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
}

.review{
    /* margin: 0 20px; */
    min-width: 300px;
}

.review-head{
    width: 150px;
    height: 10+0px;
    margin: 0 auto;
}

.body-review{
    background-color: rgb(238, 238, 238);
    padding: 20px;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
    width: 200px;
    text-align: center;
    overflow: hidden;
}

.title-review{
    font-size: 20px;
    font-family: Lato;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.review-heading{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 30px;
}

.review-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
}
/* .review-title{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}
.review-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.review-content{
    
} */

/* insta section */

.instagram-section {
    margin-top: 120px;
}

.insta-content {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.flower-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.flower-container img {
    width: 200px;
    padding: 20px;
}


/* latest deal section */

.latest-deal-section {
    margin-top: 120px;
    margin-bottom: 120px;
}


.deal-container {
    background-image: url("https://i.ibb.co/25rS7Zh/Rectangle-9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 40vh;
    margin: 0 auto;
}



.subscribe input {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type="email"] {
    background: #fff;
    width: 400px;
    height: 64px;
    outline: none;
    border: 0;
    padding: 0 25px;
    margin-right: 10px;
    border-radius: 8px;
}

.footer{
    background: #111010;
}

.footer-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
}

.footer-title{
    margin-top: 120px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.90);
}

.copyright{
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 120px;
}

